@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Graduate);

* {
    border: 0;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #eee;
    height: 100%;
}

#container {
    height: 100%;
    padding: 2%;
}

h1 {
   font-size: 6rem;
   text-align: center;
   padding-bottom: 2rem;
}

h1 span {
    font-size: 14px;
}

.components:first-child {
    padding:0 0 10px;
}

.components:last-child {
    position: absolute;
    bottom:0;
    width: 96%;
}
.components:last-child div {
    width: 100%;
}

.segment {
    text-align: center;
}

.timer,
.components:last-child {
    font-family: "Graduate", cursive;
    font-size: 4rem;
}

.margin-bottom-little {
    margin-bottom: 8px;
}

.ui.grid>.column {
    margin-top: 0;
}