@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Graduate);

* {
    border: 0;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #eee;
    height: 100%;
}

#container {
    height: 100%;
    padding: 2%;
}

.components:first-child {
    height: 60%;
}

.segment {
    text-align: center;
}

.timer {
    font-family: "Graduate", cursive;
    font-size: 4rem;
}
